In [1]:
cd D:\Darvin\python training

D:\Darvin\python training

In [2]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle

In [3]:
dataset = pd.read_csv('flash.csv')
dataset.head()

  experience  test_score  interview_score  salary
0        NaN         8.0                9   50000
1        NaN         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000

In [4]:
dataset.isnull().sum()

experience         2
test_score         1
interview_score    0
salary             0
dtype: int64

In [5]:
dataset['experience'].fillna(0, inplace=True)

dataset['test_score'].fillna(dataset['test_score'].mean(), inplace=True)

In [6]:
dataset.head()

  experience  test_score  interview_score  salary
0          0         8.0                9   50000
1          0         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000

In [7]:
x = dataset.iloc[:, :3]
x

  experience  test_score  interview_score
0          0    8.000000                9
1          0    8.000000                6
2       five    6.000000                7
3        two   10.000000               10
4      seven    9.000000                6
5      three    7.000000               10
6        ten    7.857143                7
7     eleven    7.000000                8

In [8]:
#Converting words to integer values
def convert_to_int(word):
    word_dict = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5, 'six':6, 'seven':7, 'eight':8,
                'nine':9, 'ten':10, 'eleven':11, 'twelve':12, 'zero':0, 0: 0}
    return word_dict[word]

In [9]:
x['experience'] = x['experience'].apply(lambda x : convert_to_int(x))

In [10]:
x.head()

   experience  test_score  interview_score
0           0         8.0                9
1           0         8.0                6
2           5         6.0                7
3           2        10.0               10
4           7         9.0                6

In [11]:
y=dataset.iloc[:, -1]
y

0    50000
1    45000
2    60000
3    65000
4    70000
5    62000
6    72000
7    80000
Name: salary, dtype: int64

In [12]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

In [13]:
m=regressor.fit(x, y)

In [14]:
with open ('reg','wb') as file:
    pickle.dump(m,file)

In [15]:
with open('reg','rb') as file:
    reg=pickle.load(file)

In [16]:
pred_y=reg.predict(x)
pred_y

array([52313.61238494, 45722.68644263, 58231.95591138, 63991.7318464 ,
       67429.06277517, 61080.55179794, 75922.72532666, 79307.67351488])

In [17]:
from sklearn.metrics import mean_absolute_error as mae
mae(pred_y,y)

1739.7560385573806

In [18]:
print(reg.predict([[2, 9, 6]]))

[53290.89255945]

ConnectionError: HTTPConnectionPool(host='localhost', port=5000): Max retries exceeded with url: /predict_api (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x000000000CC17AC8>: Failed to establish a new connection: [WinError 10061] No connection could be made because the target machine actively refused it'))